@use '../styles/invitation-theme' as theme;

.template-container {
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: theme.$invitation-background-color;
  color: theme.$invitation-text-color;
  width: 100%; /* Cambiado de 100vw a 100% para evitar desbordamiento */
  overflow-x: hidden; /* Corta cualquier contenido que se desborde horizontalmente */
  box-sizing: border-box; 
} 