@use '../styles/invitation-theme' as theme;

.template-container {
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: theme.$invitation-background-color;
  color: theme.$invitation-text-color;
  width: 100vw; /* Asegura que el contenedor ocupe el 100% del ancho del viewport */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
} 