<div class="contact-container">
  <div class="contact-card">
    <h2>Contacto</h2>
    <p class="description">
      En nuestra plataforma, te ayudamos a crear y enviar invitaciones digitales únicas para tus eventos más especiales, ya sean bodas, cumpleaños, graduaciones o cualquier otra celebración.
      <br><br>
      Si quieres una invitación personalizada, estás a un solo mensaje de distancia. Estamos listos para atenderte con plazos de entrega inmediata y hacer de tu evento algo inolvidable.
    </p>
    <p><strong>Cedric Caballero</strong></p>
    <a [href]="whatsappUrl" target="_blank" class="btn btn-primary">
      Contactar por WhatsApp
    </a>
  </div>
</div>
