@use '../../styles/invitation-theme' as theme;

.music-player-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: theme.$invitation-primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Asegurar que esté por encima de la máscara de bienvenida */
  transition: transform 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: scale(1.1);
    background-color: theme.$invitation-secondary-color;
  }
}

.music-player-container i {
  color: theme.$invitation-text-color;
  font-size: 24px;
} 