<div class="mascara-play" *ngIf="isWelcomeScreenVisible">
    <div class="cont-flores">
        <img src="assets/images/elements/flower-corner.png" class="flor-esquina esquina-tl" alt="Esquina superior izquierda">
        <img src="../../../../../assets/images/elements/flower-corner.png" class="flor-esquina esquina-tr" alt="Esquina superior derecha">
        <img src="../../../../../assets/images/elements/flower-corner.png" class="flor-esquina esquina-br" alt="Esquina inferior derecha">
        <img src="../../../../../assets/images/elements/flower-corner.png" class="flor-esquina esquina-bl" alt="Esquina inferior izquierda">
    </div>
    <div class="m-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="welcome-title animate__animated animate__fadeInDown animate__delay-1s animate__slow">
                        Boda de<br>Ana y Alberto
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center pt-3">
                    <div class="btn btn-invitacion animate__animated animate__flipInX animate__delay-3s animate__slow" (click)="openInvitation()">
                        Ver invitación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 